/* Font Faces */

@font-face {
	font-family: "Gotham Light";
	src: url("../../fonts/GothamLight.ttf") format("truetype");
}

@font-face {
	font-family: "Gotham Med";
	src: url("../../fonts/GothamMed.ttf") format("truetype");
}

@font-face {
	font-family: "Jetbrains Mono";
	src: url("../../fonts/JMReg.ttf") format("truetype");
}

/* Rules */

/* Global Rules */

body {
	background-color: #1a1a1a;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	font-family: "Gotham Light";
	color: #ffffff;
}

h1,
h2 {
	font-family: "Gotham Med";
	color: #ffffff;
}

h3,
h4,
h5,
h6,
p {
	font-family: "Gotham Light";
	color: #ffffff;
}

a {
	text-decoration: none;
	color: inherit;
}

.warn {
	background-color: #eb6320;
}

/* Highlighting */

code {
	font-family: "Jetbrains Mono";
	size: 15px;
	color: #7effd4;
	background-color: #2b2b2b;
	border-radius: 3px;
}
code > kwd {
	color: #e76868;
}
code > fun {
	color: #8ad3fd;
}
code > val {
	color: #77ace9;
}
code > com {
	color: #919191;
}
code > lit {
	color: #e585f1;
}
code > prp {
	color: #eb6320;
}
code > mdl {
	color: #549dfd;
}
code > typ {
	color: #d95fe4;
}
code > cls {
	color: #e7e56c;
}
code > fle {
	color: #83a6f1;
}

/* Styling rules */

div#header > a > p#header {
	font-size: 60px;
	font-family: "Gotham Med";
	margin-bottom: 20px;
	color: #ffffff;
}

div#header > div.anim_block {
	width: 1000px;
	height: 100px;
	position: absolute;
	top: 0px;
}

div#header > div#block1 {
	left: 0px;
	background-color: #fb5502;
	z-index: -4;
	background-clip: border-box;
}

div#header > div#block2 {
	left: -400px;
	background-color: #e32581;
	z-index: -3;
	background-clip: border-box;
}

div#header > div#block3 {
	left: -750px;
	background-color: #5848f4;
	z-index: -2;
	background-clip: border-box;
}

div#header > div#block4 {
	left: -850px;
	background-color: #18d68c;
	z-index: -1;
	background-clip: border-box;
}
